@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fjalla+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html{
    font-family: "Acme", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    height: 100%;
    color: #e7118e;
    cursor: ;
}
body{
    background-color: #ff41b0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.square_1{
    margin: 2em;
    z-index: 3;
    width: 95em;
    height: 40em;
    background-color: #ffffff;
    z-index: 1;
    border: solid 2.5em red;
    border-image: url('/storage/img/easter-bunny-rabbit-svgrepo-com.svg') space;
    overflow: scroll;
}
.square_1::-webkit-scrollbar{
    display: none;
}
img{
    width: 16em;
}
button{
    font-family: "Acme", sans-serif;
    width: 6em;
    height: 2.4em;
    border-radius: 3em;
    background-color: #ff41b0;
    border: solid 0.2em #e7118e;
    color: #ffffff;
    font-weight: 600;
    margin: 0.5em;
    font-size: 0.9em;
    cursor: pointer;
}

span{
    color: #ff41b0;
    text-decoration: underline;
}

h1{
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    margin: 0;
    padding: 0;
}

.rules{
    text-align: start;
    width: 25em;
    border: 0.6em solid #ff67c0;
    border-left: 0.5em double #eeb4d6;
    border-right: 0.5em double #eeb4d6;
    border-radius: 1.5em 0em;
    padding: 0.5em;
    -webkit-padding-start: 1.5em;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
    -webkit-margin-start: 2em;
    position:relative;
}

#rulesCont{
    top: 5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start,#showRules{
    top:8em;
}

.menu_button{
    position: relative;
    width: 20em;
    height: 3em;
    font-size: 1em;
}

#back{
    top: 25em;
    position: absolute;
}

.logoBun{
    position: relative;
    top:5em;
    width: 15em;
    z-index: 5;
    -webkit-filter: drop-shadow(2px 2px 0 #ca338b)
        drop-shadow(-2px 2px 0 #ca338b)
        drop-shadow(2px -2px 0 #ca338b)
        drop-shadow(-2px -2px 0 #ca338b);
    animation: boink 2s 0s;

}
@keyframes boink {
    0%{
        transform: scale(90%);
    }
    30%{
        transform: scale(100%);
    }
    35%{
        transform: translateX(1em) translateY(-2em) rotate(20deg);
    }
    40%{
        transform: translateX(0em) translateY(0em) rotate(0deg);
    }
    45%{
        transform: translateX(-1em) translateY(-2em) rotate(-20deg);
    }
    50%{
        transform: translateX(0em) translateY(0em) rotate(0deg);
    }
    54%{
        transform: translateX(0em) translateY(-3em) rotate(0deg);
    }
    57%{
        transform: translateX(0em) translateY(0em) rotate(0deg);
    }
    60%{
        transform: translateX(0em) translateY(-4em) rotate(0deg);
    }
    64%{
        transform: translateX(0em) translateY(0em) rotate(0deg);
    }
}
button:hover{
    color: #c2ffff;
    transform: scale(110%);
}
